.goods {
  /* color: red; */
}
.goods__img {
  margin: 0 auto;
}

.brand-name{
  color:#aaa;
  margin-top:10px;
}

.org-price{
  color:#aaa;
  margin-left:5px;
  text-decoration:line-through;
  font-size:12px;
}
